<header class="header header-fixed">
  <div class="header-container">
    <h1 class="header-logo">
      <a href="/">Logo</a>
    </h1>
    <button class="header-mobile-button js-menu-button" type="button" aria-label="Menu" aria-expanded="false" aria-controls="header-nav-mobile">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <nav id="header-nav-mobile" class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="" class="header-nav-link" aria-expanded="false" aria-controls="sub-menu-1">Link</a>
          <ul id="sub-menu-1" class="header-sub-nav">
            <li class="header-sub-nav-item">
              <a href="" class="header-sub-nav-link">Sub menu 1</a>
            </li>
            <li class="header-sub-nav-item">
              <a href="" class="header-sub-nav-link">Sub menu 2</a>
            </li>
            <li class="header-sub-nav-item">
              <a href="" class="header-sub-nav-link">Sub menu 3</a>
            </li>
            <li class="header-sub-nav-item">
              <a href="" class="header-sub-nav-link">Sub menu 4</a>
            </li>
          </ul>
        </li>
        <li class="header-nav-item">
          <a href="" class="header-nav-link" aria-expanded="false" aria-controls="sub-menu-2">Link</a>
          <ul id="sub-menu-2" class="header-sub-nav">
            <li class="header-sub-nav-item">
              <a href="" class="header-sub-nav-link">Sub menu 1</a>
            </li>
            <li class="header-sub-nav-item">
              <a href="" class="header-sub-nav-link">Sub menu 2</a>
            </li>
            <li class="header-sub-nav-item">
              <a href="" class="header-sub-nav-link">Sub menu 3</a>
            </li>
          </ul>
        </li>
        <li class="header-nav-item"><a href="" class="header-nav-link">Link</a></li>
        <li class="header-nav-item"><a href="" class="header-nav-link">Link</a></li>
        <li class="header-nav-item"><a href="" class="header-nav-link">Link</a></li>
        <li class="header-nav-item"><a href="" class="header-nav-link">Link</a></li>
      </ul>
    </nav>
  </div>
</header>
