<a href="/link" class="link">Text normal link</a>
<br>
<a href="/link" class="link -underline" >Text normal link with underline</a>
<br>
<a href="/link" class="link" target="_blank" rel="noreferrer noopener">Text normal link with icon<span class="icon-pdf" aria-label="PDF"></span></a>
<br>
<a href="/link" class="link -underline" target="_blank" rel="noreferrer noopener">Text normal link with underline and icon<span class="icon-pdf" aria-label="PDF"></span></a>
<br>
<div class="anchor-links">
  <a href="#" class="anchor-link">Item 1</a>
  <a href="#" class="anchor-link">Item 2</a>
  <a href="#" class="anchor-link">Item 3</a>
  <a href="#" class="anchor-link">Item 4</a>
  <a href="#" class="anchor-link">Item 5</a>
  <a href="#" class="anchor-link">Item 6</a>
  <a href="#" class="anchor-link">Item 7</a>
  <a href="#" class="anchor-link">Item 8</a>
</div>
